body {
  margin: 0;
  padding: 0;
  
}



.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 100%;
  color: white;
  
}


/* first section of wrapper*/

.bg-2 {
  background-image: url("https://wallpaperaccess.com/full/3901230.jpg");
  justify-content: center;
}

/* 2nd section of wrapper*/

.bg-1 {
  background-color: #fffff0;
  background-size: cover;
  
}

/* 3rd section of wrapper*/

.bg-3 {
  background-image: url("https://thumbs.dreamstime.com/z/composite-image-students-holding-folders-college-against-black-background-63471333.jpg");
}

.account-setting {
  margin-left: 0 ; /* Reset the default margin */
  padding-left: 0 ; /* Reset the default padding */
}

.container {
  margin-left: 10px !important ;
  padding-left: 10px !important;
}


h2{
  color: blue !important;
  margin-bottom: 5px !important;
}

.fa{
  margin-right: 5px;;
}